.l-centerText{
    text-align: center;
}

.l-h1{
    font-size: 26px;
    text-transform: uppercase;
    
}

.l-h2{
    text-transform: uppercase;
    font-size: 20px;
}

.l-span{
    font-family: 'eletronic';
    color: var(--red-color);
}

