<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScoreBoard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/public/styles/smacss/bases/font-awesome.min.css">
    <link rel="stylesheet" href="/public/styles/smacss/bases/resete.css">
    <link rel="stylesheet" href="/public/styles/smacss/bases/variables.css">

    <link rel="stylesheet" href="/public/styles/smacss/layouts/text.css">
    <link rel="stylesheet" href="/public/styles/smacss/modules/modules.css">
    <link rel="stylesheet" href="/public/styles/smacss/states/is.css">
    <link rel="stylesheet" href="/public/styles/smacss/theme/theme.css">


</head>
<body>



        
    <!-- AWAY--------------------------------------------------------- -->
    <main class="l-container-main">
        
        <div class="l-container-scoreBoard">
           
            <section class="box_score_board is-flex th_box_black_gray ">
                <div class="wraper_pontuacao_logo l-centerText">
                    <h1 class="l-h1">away</h1>
                    <div id="content_logo_away" class="content_logo th_cont_trans_gray">
                        <img src="/public/images/logos/miami_heat.png" id="img_logo_away" class="img-logo">
                    </div><!--content-logo-->
    
                    <div class="content-placar th_cont_trans_gray">
                        <span  id="placar_away" class="is-centerAbsolute l-span ">0</span>
                    </div><!-- content-placar -->
                </div><!--wraper_pontuacao_logo-->
    
            <!-- CONTAGEM ------------------------------------------------------- -->
                
                <div class="contagem_wraper">
                    <img src="/public/images/logo.png" >
    
                    <div class="content-time l-centerText">
                        <h2 class="l-h2">time</h2>
                        <div class="time th_cont_trans_gray">
                            <span id="cont" class="is-centerAbsolute l-span" >12:00</span>
                        </div><!-- time -->
                    </div><!---content-time-->
    
                    <div class="content-rodada">
                        <h1 class="l-h1">qtr</h1>
                        <div class="rodada th_cont_trans_gray">
                            <span id="rodada" class="is-centerAbsolute l-span">1</span>
                        </div>
                    </div><!-- rodada -->
                </div><!-- contagem-wraper -->
    
            <!-- HOME------------------------------------------- -->   
                
                <div class="wraper_pontuacao_logo l-centerText">
                    <h1 class="l-h1">HOME</h1>
                    
                    <div id="content_logo_home" class="content_logo th_cont_trans_gray">
                        <img src="/public/images/logos/Lakers.png" id="img_logo_home" class="img-logo">
                    </div><!--content-logo-->
    
                    <div class="content-placar th_cont_trans_gray">
                        <span id="placar_home" class="is-centerAbsolute l-span">0</span>
                    </div><!-- content-placar -->
                </div><!-- wraper_pontuacao_logo -->
    
            </section><!--box_score_board-->
    
            <div class="btn_open th_btn_grad_silver">
                <div class="img_open is-centerAbsolute"></div> <!-- img_open -->
            </div><!-- btn_open -->
            
    
            <section class="controls th_box_grad_silver is-flex is-none">
                <div class="add_point">
                    
                    <button onclick="add_point_tree_away()" class="btn btn_add_point th_btn_grad_silver">+3</button>
                    <button onclick="add_point_two_away()"  class="btn btn_add_point th_btn_grad_silver">+2</button>
                    <button onclick="add_point_one_away()"  class="btn btn_add_point th_btn_grad_silver">+1</button>
                    <button onclick="correct_point_away()"  class="btn btn_add_point th_btn_grad_silver">o</button>
    
                </div><!-- add_point -->
    
                <div class="control-button">
    
                    <button onclick="start()" id="start-id" class="btn btn_control th_btn_grad_silver"><i class="fa fa-play"></i></button> <!-- iniciar -->
                    <button onclick="pause()" class="btn btn_control th_btn_grad_silver"><i class="fa fa-play"></i></button> <!-- pausar -->
                    <button onclick="stop()" class="btn btn_control th_btn_grad_silver"><i class="fa fa-play"></i></button> <!-- parar -->
                    <button onclick="stop()" class="btn btn_control th_btn_grad_silver"><i class="fa fa-play"></i></button> <!-- parar -->
    
                </div><!-- control-button -->
    
                <div class="add_point">
                    
                    <button onclick="add_point_tree_home()" class="btn btn_add_point th_btn_grad_silver">+3</button>
                    <button onclick="add_point_two_home()" class="btn btn_add_point th_btn_grad_silver">+2</button>
                    <button onclick="add_point_one_home()" class="btn btn_add_point th_btn_grad_silver">+1</button>
                    <button onclick="correct_point_home()"  class="btn btn_add_point th_btn_grad_silver">o</button>
    
                </div><!-- add_point -->
            </section><!-- controls -->
        
        </div><!-- l-container-scoreboard -->


        <div class="l-container-times">

            <section class="box-times">

                <div class="l-selecao">
                    <input class="input-selecao" type="radio" name="time" id="select-away" onchange="select_local()" checked><label for="select-away">AWAY</label>
                    <input class="input-selecao" type="radio" name="time" id="select-home" onchange="select_local()"><label for="select-home">HOME</label>
                </div><!-- l-selecao -->
                
                <!-- CONFERENCIA LESTE--------------------------- -->
                
                <div class="box-conferencia">
                    <div class="content-times th_box_grad_silver">
                        <h1>Conferencia leste</h1>
                        
                        <button onclick="add_time_atlanta()" class="btn btn_time th_btn_grad_silver is-flex">
                            <span>Atlanta Hawks</span><img src="/public/images/logos/atl.png" class="icon-time">
                        </button><!-- btn-time -->
                        
                        <button onclick="add_time_boston()" class="btn btn_time th_btn_grad_silver is-flex">
                            <span>Boston Celtics</span><img src="/public/images/logos/boston.png" id="img-time"  class="icon-time">
                        </button><!-- btn-time -->
        
                        
                    </div><!-- content-times-->
        
                    
                    <!-- CONFERENCIA OESTE-------------------------- -->
                
                    <div class="content-times th_box_grad_silver">
                        <h1>Conferencia oeste</h1>
                        
                        <button onclick="add_time_dallas()" class="btn btn_time th_btn_grad_silver is-flex">
                            <span>Dallas </span><img src="/public/images/logos/dalas.png" class="icon-time">
                        </button><!-- btn-time -->
                        
                        <button onclick="add_time_deven()" class="btn btn_time th_btn_grad_silver is-flex">
                            <span>Deven</span><img src="/public/images/logos/deven.png"  class="icon-time">
                        </button><!-- btn-time -->
        
                    </div><!-- content-times-->
                </div><!-- box-conferencia -->
            </section><!-- box times -->
        </div><!-- l-container-times -->

        <section class="l-time-win" id="time-win">
            <div class="exit-time-win" onclick="exit_win()"></div><!-- exit-time-win -->
            
            <div  class="l-logo-win">
                <img src="/public/images/logo.png"  alt="Logo da NBA">
            </div>
            
            <div class="l-wraper-time-win" id="content-img-win">
                <img src="/public/images/logos/Lakers.png"  id="img-win" alt="Logo do time vencedor">
            </div><!-- l-wraper-time-win -->

            <h1 id="name_win">Los Angeles lakers</h1>
            <h2>Win</h2>
        
        </section><!-- l-time-win -->
    
    </main>

    <button onclick="teste()">TESTE</button>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="/public/scripts/chronometer.js"></script>
    <script src="/public/scripts/slideTogger.js"></script>
    <script src="/public/scripts/add_point.js"></script>
    <script src="/public/scripts/add_times.js"></script>

</body>
</html>