<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScoreBoard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/public/styles/smacss/bases/font-awesome.min.css">
    <link rel="stylesheet" href="/public/styles/smacss/bases/resete.css">
    <link rel="stylesheet" href="/public/styles/smacss/bases/variables.css">

    <link rel="stylesheet" href="/public/styles/smacss/layouts/text.css">
    <link rel="stylesheet" href="/public/styles/smacss/modules/modules.css">
    <link rel="stylesheet" href="/public/styles/smacss/states/is.css">
    <link rel="stylesheet" href="/public/styles/smacss/theme/theme.css">


</head>
<body>

        
    <!-- AWAY--------------------------------------------------------- -->

    <section class="box_score_board is-flex th_box_black_gray">
        <div class="wraper_pontuacao_logo l-centerText">
            <h1 class="l-h1">away</h1>
            <div id="content_logo_away" class="content_logo th_cont_trans_gray">
                <img src="/public/images/logos/miami_heat.png" id="img_logo_home" class="img-logo">
            </div><!--content-logo-->

            <div class="content-placar th_cont_trans_gray">
                <span id="placar_away" class="is-centerAbsolute l-span ">0</span>
            </div><!-- content-placar -->
        </div><!--wraper_pontuacao_logo-->

    <!-- CONTAGEM ------------------------------------------------------- -->
        
        <div class="contagem_wraper">
            <img src="/public/images/logo.png" >

            <div class="content-time l-centerText">
                <h2 class="l-h2">time</h2>
                <div class="time th_cont_trans_gray">
                    <span id="cont" class="is-centerAbsolute l-span" >12:00</span>
                </div><!-- time -->
            </div><!---content-time-->

            <div class="content-rodada">
                <h1 class="l-h1">qtr</h1>
                <div class="rodada th_cont_trans_gray">
                    <span id="rodada" class="is-centerAbsolute l-span">1</span>
                </div>
            </div><!-- rodada -->
        </div><!-- contagem-wraper -->

    <!-- HOME------------------------------------------- -->   
        
        <div class="wraper_pontuacao_logo l-centerText">
            <h1 class="l-h1">HOME</h1>
            
            <div id="content_logo_home" class="content_logo th_cont_trans_gray">
                <img src="/public/images/logos/Lakers.png" id="img_logo_home" class="img-logo">
            </div><!--content-logo-->

            <div class="content-placar th_cont_trans_gray">
                <span id="placar_home" class="is-centerAbsolute l-span">0</span>
            </div><!-- content-placar -->
        </div><!-- wraper_pontuacao_logo -->

    </section><!--box_score_board-->

    <div class="btn_open th_btn_grad_silver">
        <div class="img_open is-centerAbsolute"></div> <!-- img_open -->
    </div><!-- btn_open -->
    
    

    <section class="controls th_box_grad_silver is-flex is-none">
        <div class="add_point">
            
            <button class="btn btn_add_point th_btn_grad_silver">+3</button>
            <button class="btn btn_add_point th_btn_grad_silver">+2</button>
            <button class="btn btn_add_point th_btn_grad_silver">+1</button>

        </div><!-- add_point -->

        <div class="control-button">

            <button onclick="start()" class="btn btn_control th_btn_grad_silver"><i class="fa fa-play"></i></button> <!-- iniciar -->
            <button onclick="pause()" class="btn btn_control th_btn_grad_silver"><i class="fa fa-play"></i></button> <!-- pausar -->
            <button onclick="stop()" class="btn btn_control th_btn_grad_silver"><i class="fa fa-play"></i></button> <!-- parar -->

        </div><!-- control-button -->

        <div class="add_point">
            
            <button class="btn btn_add_point th_btn_grad_silver">+3</button>
            <button class="btn btn_add_point th_btn_grad_silver">+2</button>
            <button class="btn btn_add_point th_btn_grad_silver">+1</button>

        </div><!-- add_point -->

    </section><!-- controls -->


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="/public/scripts/chronometer.js"></script>
    <script src="/public/scripts/slideTogger.js"></script>

</body>
</html>