<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScoreBoard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/public/styles/smacss/bases/resete.css">
    <link rel="stylesheet" href="/public/styles/smacss/bases/variables.css">
    <link rel="stylesheet" href="/public/styles/smacss/layouts/text.css">
    <link rel="stylesheet" href="/public/styles/smacss/modules/modules.css">
    <link rel="stylesheet" href="/public/styles/smacss/states/is.css">
    <link rel="stylesheet" href="/public/styles/smacss/theme/theme.css">


</head>
<body>

    <!-- AWAY--------------------------------------------------------- -->

    <section class="box_score_board ">
        <div class="wraper_pontuacao_logo">
            <h1>away</h1>
            <div id="content_logo_away" class="content_logo">
                <div id="img_logo_away" class="img-logo"></div>
            </div><!--content-logo-->

            <div class="content-placar">
                <span id="placar_away">0</span>
            </div><!-- content-placar -->
        </div><!--wraper_pontuacao_logo-->

    <!-- CONTAGEM ------------------------------------------------------- -->
        
        <div class="contagem_wraper">
            <img src="/public/images/logo.png" >

            <div class="content-time">
                <h2>time</h2>
                <div class="time">
                    <span>00:00</span>
                </div><!-- time -->
            </div><!---content-time-->

            <div class="content-rodada">
                <h2>qtr</h2>
                <div class="rodada">
                    <span id="rodada">3</span>
                </div>
            </div><!-- rodada -->
        </div><!-- contagem-wraper -->

    <!-- HOME------------------------------------------- -->   
        
        <div class="wraper_pontuacao_logo">
            <h1>away</h1>
            
            <div id="content_logo_home" class="content_logo">
                <div id="img_logo_home" class="img-logo"></div>
            </div><!--content-logo-->

            <div class="content-placar">
                <span id="placar_home">0</span>
            </div><!-- content-placar -->
        </div><!-- wraper_pontuacao_logo -->

    </section><!--box_score_board-->
    


    <section class="controls">

    </section><!-- controls -->
    
</body>
</html>