.is-relative{
    position: relative;
}

.is-flex{
    display: flex;
}

.is-none{
    display: none;
}

.is-left{
    float: left;
}

.is-rigth{
    float: right;
}

.is-center{
    margin: 0 auto;
}

.is-centerAbsolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}