@font-face {
    font-family: 'eletronic';
    src: url('/design/fonts/ds-digib-webfont.woff2') format('woff2'),
        url('/design/fonts/ds-digib-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    
}
html,body{
    height: 100%;
}



