:root{
    /*WHITE*/
    --white-color: rgb(255, 255, 255);
   
    /*BLACK*/
    --black-color: rgb(0,0,0);
    
    /*GRAY*/
    --gray-color1: #707070;

    /*RED*/
    --red-color: #DB0B0B;
}





