
section.box_score_board{
    z-index: 999;
    position: relative;
    max-width: 600px;
    height: auto;
    margin: 30px auto;
    padding: 22px 21px 35px 21px;
    border-radius: 3px;
}

/*AWAY*/

.wraper_pontuacao_logo{
    width: 25%;
}

.wraper_pontuacao_logo h1{
    margin: 16px 0 23px 0;
}

.content_logo{
    width: 100%;
    height: 110px;
    border-radius: 3px;
    margin-bottom: 13px;
}

.img-logo{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.content-placar{
    width: 100%;
    height: 130px;
    position: relative;
}

.content-placar span{
    font-size: 95px;
}


/*CONTAGEM---------------------*/

.contagem_wraper{
    width: 50%;
    text-align: center;
}

.content-time{
    margin-top: 18px;
    margin-bottom: 32px;
}

.contagem_wraper img{
    width: 62px;
    height: 62px;
    margin: 0 auto;
}

.content-time h2{
    margin-bottom: 4px;
}

.time{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.time span{
    font-size: 30px;
}

.content-rodada{
    text-align: center;
    
}

.content-rodada h1{
    margin-bottom: 4px;
}

.rodada{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.rodada span{
    font-size: 50px;
}

.btn_open{
    width: 35px;
    height: 32px;
    margin: 0 auto;
    position: relative;
    top: -20px;
    cursor: pointer;  
}

.img_open{
    width: 20px;
    height: 20px;

    background-image: url(/public/icons/divisa-para-baixo.png);
    background-position: center;
    background-size: 100% 100%;

}

/*CONTROLES---------------------*/


section.controls{
    max-width: 600px;
    padding: 14px 51px 10px 51px;
    margin: 0 auto;
    display: flex;
}

.add_point{
    width: 15%;
}

.control-button{
    width: 85%;
}

.btn{
    display: block;
    margin: 0 auto;
    line-height: 25px;
    cursor: pointer;
    margin-bottom: 4px;
    border: 0;
    font-size: 20px;
    font-weight: normal;
    
}

.btn_add_point{
    width: 53px;
}

.btn_control{
    width: 77px;
}